# Database Configuration
DB_TYPE=mongodb
MONGODB_URI=mongodb://username:password@host1:27017,host2:27017,host3:27017/?ssl=true&replicaSet=replica-set-name&authSource=admin&appName=Cluster0
MONGODB_DB_NAME=Finance_Manager_Project

# Optional: Only use if migrating existing data and want to assign to a specific user
# MIGRATION_USER_ID=user-id-here
